.container {
  width: 1600px;
  height: 835px;
  margin: 0 auto;
}
.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 1500px;
  height: 200px;

}
.controls {
  display: flex;
  gap: 20px;
  height: 56px;
  margin: 0 auto;
}
.btnControls {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 56px;
}

